# phpstorm project files
.idea
.phpstorm.meta.php

#vi
.swp

#sublime
.phpintel

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# vscode
/.vscode

# node.js
node_modules/
npm-debug.log
yarn-error.log

# composer
/vendor
/composer.phar
/composer.bat

# homestead
Homestead.json
Homestead.yaml
/.vagrant

# custom
/etc
